.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
        padding-top: 50px;
  }
  
  .text {
    margin-top: 1000px;
    text-align: center;
  }
